{{#> layout }}

<h1>Walgreen's CBPS UX</h1>
<div class="pagenav">
  <hr />
  <h4>Sales Associate Views</h4>
  <ul>
    <li><a href="/dashboard/dashboard.html">Dashboard</a></li>
    <li><a href="/schedule/schedule.html">Schedule</a></li>
  </ul>
</div>

{{/ layout }}