@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';
@import 'utils/animations';
@import "bootstrap/bootstrap";
@import 'colors';
@import 'components/navbar';
@import 'components/page-header';

$theme-colors: (
  "brand-red": $primary
);

.bg-brand-red {
  background-color: $primary;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}
// html,
// body {
//   &.no-scroll {
//     overflow: hidden;
//     @media(max-width: 980px) {
//       overflow-y: visible;
//     }
//   }
// }

img {
  max-width: 100%;
  display: block;
}

sup{
  font-size: 60%;
}

.btn {
  transition: background-color 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .material-icons {
//   color: #979797;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

// p {
//     margin: 1rem 0;
// }