{{#> layout }}
  
  {{#data 'navbar'}}
  {{> navbar/navbar
      navigation=navbar.navigation
      associate="true"
      page="Dashboard" 
  }}
  {{/data}}
  <div class="container-xl">
    <h1 class="h3">Dashboard</h1>
  </div>
{{/ layout }}
